

@media (min-width: 576px) { 
  .carousel-inner {
    min-height: 500px;
  }
 }


@media (min-width: 768px) { 
    .nav_item {
        top: 3.7rem !important; 
        z-index: 100;
       }
       .header_bottom {
        padding-top: 6rem;
      }
      .time_circle {
        width: 5rem;
        height: 5rem;
      }
      
      .time_circle .number {
        font-size: 1.3rem;
        font-weight: bold;
        line-height: 1;
      }
      .time_circle .label {
        font-size: 1rem;
        margin-top: 0.2rem;
      }
      .carousel-inner {
        min-height: 230px;
      }
 }


@media (min-width: 992px) { 
  
 }


@media (min-width: 1200px) { 
  .carousel-inner {
    min-height: 280px;
  }
 }


@media (min-width: 1400px) { 

 }